@font-face {
    font-family: "PF Regal Display Pro";
    src: url("/assets/fonts/PFRegalDisplayProRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: "PF Regal Display Pro";
    src: url("/assets/fonts/PFRegalDisplayProBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/MontserratRegular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/MontserratSemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/MontserratBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}